.col-white {
    color: white;
}

.my-pokemon {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.login-button {
    width: 100%;
    margin: 0.25em auto;
}