.character-card {
    padding: 10px;
    margin: 10px;
    border: 1px solid #06d6a0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    background-color: #06d6a0;
    border-radius: 0.5em;
}

.character-name {
    background-color: inherit;
    color: #073b4c;
}