<div class="app-root">
    <mat-toolbar class="toolbar">
      <img src="../../../assets/pokeball.png" height="25px" width="25px"><span style="margin-left: '5px'"><a routerLink="/" style="text-decoration: none;">PokeDex</a></span>
      <span class="spacer"></span>
      <button mat-button color="primary" routerLink="my-pokemon">My Pokemon</button>
      <button mat-button color="warn" *ngIf="loggedIn" (click)="logout()">Logout</button>
    </mat-toolbar>
      <router-outlet></router-outlet>
    <mat-toolbar class="footer">
        <span>Copyright &copy; 2022</span>
      </mat-toolbar>
</div>
