.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.app-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto 5em;
}

.app-search {
    margin: 2em auto;
    display: flex;
    justify-content: center;
}

.app-search-input {
    max-width: 500px;
    width: 100%;
    margin-left: 1em;
    /* background-color: white; */
}

.app-filter {
    color: white;
    margin-bottom: 1em;
}

.color-white {
    color: black;
}


