<h1 mat-dialog-title>Pokemon Details</h1>
<div mat-dialog-content>
  <img [src]="pokeData.sprites?.front_default" height="200px" width="200px">
  <div class="pokeName"><h2>{{pokeData.name}}</h2><h1><b>#{{pokeData.id}}</b></h1></div>
  <hr>
  <h3>Abilities</h3>
  <li *ngFor="let ability of pokeData.abilities">{{ability.ability.name}}</li>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
  <button *ngIf="currentRoute === '/'" mat-raised-button color="primary" (click)="catchPokemon()">Catch Pokemon</button>
  <button *ngIf="currentRoute === '/my-pokemon'" mat-raised-button color="primary" (click)="releasePokemon()">Release</button>
</div>